.hide {
  display: none;
}

input,
.bottom-buttons,
#add-player-button,
#reset-button,
#submit-player {
  margin: 10px;
}

/* CSS GRID */
.bottom-buttons-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "apb apb . . apf apf apf apf rsb .";

  margin-bottom: 10px;
  background-color: #d5e1df;
}

#add-player-field {
  grid-column: 4 / 8;
  place-self: center;
}

#add-player-field input[type=text]:focus {
    border: 3px solid #5cb85c;
    padding: 10px;
    border-radius: 5px;
}

#submit-player {
  background-color: #5cb85c;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

#submit-player:hover {
  background-color: #b8e0b8;
}

.add-playerbutton-container {
  grid-area: apb;
  place-self: center;
}

.add-playerbutton-container button {
  background-color: #5bc0de;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.add-playerbutton-container button:hover {
  background-color: #aadeee;
}

.reset-score {
  grid-area: rsb;
  place-self: center;

  background-color: #f0ad4e;
  padding: 10px;
  font-size: 18px;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.reset-score:hover {
  background-color: #f9deb9;
}
