.header-container {
  background-color: #d5e1df;
  padding: 10px;

  /* rounded corners on top right and top left with straight edge bottom */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

  /* CSS Grid */
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 180px;
  grid-template-areas:
    "s s s s s s t t t t";
}

.header-container h1 {
  font-size: 5rem;
  grid-area: s;
  margin-left: 20px;
}

.timer {
  grid-area: t;
  grid-column: 8 / -1;
}
