/* CSS Grid for playerboard container */
.player-board-container {
  background-color: #e3eaa7;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100px auto;
  grid-template-areas:
    "ph ph ph ph ph ph ph ph ph ph"
    "pb pb pb pb pb pb pb pb pb pb";
}

.playerboard-header {
  grid-area: ph;
}

.player-board {
  grid-area: pb;
}

ul {
  list-style-type: none;
}

ul li:nth-child(odd) {
  background-color: #86af49;
}

ul li:nth-child(even) {
  background-color: #b5e7a0;
}

/* CSS Grid for playerboard header */
.playerboard-header {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "pt pt pt . . . . st st st";
}

.player-title {
  grid-area: pt;
  padding-left: 40px;
  place-self: center;
  font-size: 40px;
}

.score-title {
  grid-area: st;
  grid-column: 9 / 10;
  place-self: center;
  font-size: 35px;
}
