.player-list-item-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 100px;
  margin: 10px;
  border-style: dotted;
}

.player-score {
  grid-column: 8 / -1;
  align-self: center;
}

.player-name-container {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "x n n n n n n";
}

.delete-player {
  grid-area: x;
  grid-column: 1 / 2;
  place-self: center;
  background-color: #f44336;
  font-size: 20px;
  border-radius: 8px;
  max-width: 40px;
  color: white;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.delete-player:hover {
  background-color: white;
  color: black;
}

.player-name {
  grid-area: n;
  grid-column: 2 / -1;
  align-self: center;
}
