.player-score {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-areas: auto; */
}

.decrement-button {
  grid-column: 1 / 2;
  place-self: center;

  background-color: lightblue;
  width: 60px;
  font-size: 40px;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.decrement-button:hover {
  background-color: #30819c;
}

.current-score {
  grid-column: 2 / 3;
  place-self: center;
  font-size: 30px;
}

.increment-button {
  grid-column: 3 / -1;
  place-self: center;

  background-color: #4CAF50;
  width: 60px;
  font-size: 40px;
  border-radius: 8px;
  color: black;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
}

.increment-button:hover {
  background-color: #2f6a31;
}
