.timer {
  /* CSS Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-template-areas:
    "t t t"
    "c c c"
    "b b b";
}

.timer-title {
  grid-area: t;
  justify-self: center;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
}

.clock {
  grid-area: c;
  place-self: center;
  margin: 10px;
  font-size: 60px;
  text-align: center;
}

.timer-buttons {
  grid-area: b;
  justify-self: center;
}

.timer-buttons button {
  margin: 5px;
  font-size: 30px;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  color: black;
}

.stop {
  background-color: #f44336;
}

.stop:hover {
  background-color: #f98e86;
}

.start {
  background-color: #5cb85c;
}

.start:hover {
  background-color: #a6d8a6;
}

.reset {
  background-color: #f0ad4e;
}

.reset:hover {
  background-color: #f9deb9;
}
