.container {
  /* Flex Box; move scoreboard to center of screen */
  display: flex;
  justify-content: center;
}

.App {
  width: 75%;
  margin: 20px;

  /* rounded shape of container */
  border-radius: 20px;

  /* CSS Grid */
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "h h h h h h h h h h h h"
    "h h h h h h h h h h h h"
    "p p p p p p p p p p p p"
    "f f f f f f f f f f f f";
}

.header-container {
  grid-area: h;
}

.player-board-container {
  grid-area: p;
}

.bottom-buttons-container {
  grid-area: f;
}
